@import "base/variables";
@import "base/fonts";
@import "base/animations";
@import "base/forms";
@import "layout/SearchBar";
@import "layout/Buttons";
@import "layout/SheetCard";
@import "layout/CardDescription";

body {
  background-color: #000 !important;
  font-family: 'Dosis', 'bariol' !important;
}

.modal-header {
    background-color: #000 !important;
    border: 1px solid white;
}
.modal-title {
    text-align: 'center' !important;
    color: #FFF;
}
.default-button {
    background-color: #000 !important;
    color: white !important;
    font-weight: 700 !important;
}

.default-button:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.container-fluid {
  padding: 0px !important;
}
