$white: #F7F7F8;
$background: #E6E6EA;
$secondary-text: rgba(0,0,0,0.5);
$accent: #FD005E;
$orange: #FBAE55;
$blue: #6169B0;
$header: #EFF0F1;
$black: #242424;
$dark-blue: #2D3E4F;
$green: #27C688;
$red: #c62727;
$grey: #7f8c8d;
$antecipation: #1778FB;
$divider: rgba(0,0,0,0.05);
/*
==================== Buttons ====================
*/
$btnPrimaryColor: #FD005E;
$btnHoverTextColor: #FFFFFF;
