.card-description-container {
    background-color: white;
    margin: 8%;
    height: auto;
    width: auto;
    border-radius: 10px;
}

.card-description-title {
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3em;
    padding: 20px;
}

.card-general-info {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}

.card-general-info-title {
    font-size: 1.5em;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
}

.card-general-item {
    margin: 26px;
    display: flex;
    justify-content: flex-start;
}

.separate {
    width: 8em;
}